{% from "render_lib.jinja2" import option_title, option, run_pyifunc, suggest_pyifunc with context %}
{% from "call_lib.jinja2" import call_pyifunc with context %}

{{option_title("green", "options.dangerous_options.title", "======危险选项======", call_pyifunc("display_options/dangerous_options/back"))}}


{{option("dark_green", "options.dangerous_options.init_pyi", "[初始化]", run_pyifunc("init", True), "options.dangerous_options.init_pyi.hover", "点击以初始化Python解释器")}}
{{option("dark_red", "options.dangerous_options.uninstall", "[卸载]", suggest_pyifunc("uninstall", True), "options.dangerous_options.uninstall.hover", "点击以卸载Python解释器")}}
