{% from "call_lib.jinja2" import call_pyifunc, call_pyilib with context %}

{#
{{ call_pyifunc("display_options/main_menu/open {father: \"python_interpreter:void\"}") }}
#}

{{ call_pyifunc("display_options/main_menu/open {father: \"python_interpreter:display_options/main_menu/render\"}") }}
