{% from "call_lib.jinja2" import call_pyilib with context %}

{% macro back(path2load)
%}{{ call_pyilib("selector2uuid {selector:\"@s\"}") }}
data modify storage {{DS.Temp}} jinja2.display_options.back.player_uuid set from storage {{DS.Temp}} selector2uuid.result
data modify storage {{DS.Temp}} jinja2.display_options.back.path set value "{{path2load}}"
data remove storage {{DS.Temp}} selector2uuid

{{ call_pyilib("player_data/getter with storage "+DS.Temp+" jinja2.display_options.back") }}
data modify storage {{DS.Temp}} jinja2.display_options.back.father.func set from storage {{DS.Temp}} player_data.result
data remove storage {{DS.Temp}} player_data

{{ call_pyilib("call_func with storage "+DS.Temp+" jinja2.display_options.back.father") }}

data remove storage {{DS.Temp}} jinja2.display_options.back
{% endmacro %}
