{% from "call_lib.jinja2" import call_pyifunc, call_pyilib with context %}

{% macro open(page_path)
%}{{ call_pyilib("selector2uuid {selector:\"@s\"}") }}
data modify storage {{DS.Temp}} jinja2.display_options.open.player_uuid set from storage {{DS.Temp}} selector2uuid.result
data remove storage {{DS.Temp}} selector2uuid

$data modify storage {{DS.Temp}} jinja2.display_options.open.father set value "$(father)"

{{ call_pyifunc(page_path+"/set_back with storage "+DS.Temp+" jinja2.display_options.open") }}
data remove storage {{DS.Temp}} jinja2.display_options.open

{{ call_pyifunc(page_path+"/render") }}{%
endmacro %}
