{% from "render_lib.jinja2" import option_title, option, run_command with context %}
{% from "call_lib.jinja2" import call_pyifunc with context %}

{{option_title("green", "options.config.title", "======解释器配置======", call_pyifunc("display_options/config/back"))}}


{{option("dark_red", "options.config.scb_cache", "[计分板缓存]", run_command("/scoreboard objectives setdisplay sidebar "+SB.Config), "options.details.config.scb_cache.hover")}}
{{option("dark_red", "options.config.pyi_config", "[解释器配置]", run_command("/tellraw @s "+TextC.nbt("storage", storage=DS.Config)), "options.details.config.pyi_config.hover")}}
