{% from "render_lib.jinja2" import print_line, translate, option, run_command, run_pyifunc with context %}

{{print_line("@s", "green", translate("options.config.title", "======解释器配置======", click_event=run_pyifunc("display_options/config/back")))}}


{{option("dark_red", "options.config.scb", "[加载在计分板的配置]", click_event=run_command("/scoreboard objectives setdisplay sidebar "+SB.Config), hover_text=translate("options.details.config.scb.hover"))}}
{{option("dark_red", "options.config.scb", "[解释器基础配置]", click_event=run_command("/tellraw @s "+TextC.nbt("storage", storage=DS.Config)), hover_text=translate("options.details.config.scb.hover"))}}
